<div id="body">
	<div class="bg"></div>
	<section class="banner-contents" style=" margin-bottom: 0px;padding-bottom:0px">
		<div class="container" style="text-align: center">
			<div>
				<h1 style="    margin-bottom: 30px">提交你的信息 </h1>

				<!-- <p style="opacity:0.8;font-size:16px;text-align: left,margin-bottom: 30px">
					<p> Being dishonest on this form will result in immediate disqualification.    </p>
					<p> If you have issues submitting your application, please contact us at    </p>

				</p> -->



			</div>

		</div>
	</section>



	<section id="roadmap" class="use roadmap">
		<div class="container" >
			<div class="wrap-contact100" id="fromresult" style="color: black" >
			<div>恭喜<br/>
你的提交正在核实中。<br/>
您的邀请链接:</div>
			  <a target="_blank" id="linkhref" href="" style="font-size: 20px;color: #2acde5;word-wrap: break-word" > </a>
			</div>
			<div class="wrap-contact100" id="fromdiv">
				<form id="form" class="contact100-form validate-form">



					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<p  class="Explain"  style="color: black">
							您的ETH钱包地址（作为您此次活动独有的ID认证，已在第一页填写完毕）
					  </p>
						<input class="input100" type="text" id="ethaddress_input" name="ethaddress" placeholder="Your ETH wallet address">

					</div>
					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<p  class="Explain" >
							关注 Lambda官方微信账号: <a target="_blank" href="http://weixin.qq.com/r/Hip-Z_7EjbPyraoE938M">http://weixin.qq.com/r/Hip-Z_7EjbPyraoE938M</a>
					  </p>
						<input class="input100" type="text" name="telegram" placeholder="输入您的微博账号名">

					</div>
					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<p  class="Explain" >
						 	关注 Lambda微博官方账号: <a target="_blank" href="https://weibo.com/lambdaim?is_all=1"> https://weibo.com/lambdaim?is_all=1</a> 
					  </p>
						<input class="input100" type="text" name="twitter" placeholder="输入您的微信账号名">

					</div>
					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<p  class="Explain" >
						 	 请上传您转发Lambda置顶微博的截图作为凭证
					  </p>
						<a class="contact100-form-btn" id="twitterscreenshot_a">
							选择文件
						</a>
						<p style="color: black">
						<input  accept="image/png, image/jpeg, image/gif, image/jpg" class="input100 fileinput" type="file" id="twitterscreenshot" name="Twitterscreenshot">
						<p id="twitterscreenshot_url" class="imgurl" style="color: black"> </p>
					  </p>

					</div>

					<!-- <div class="wrap-input100 validate-input" data-validate="Name is required">

						<input class="input100" type="text" name="medium" placeholder="Medium user’s name  ">

					</div> -->
					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<p  class="Explain" >
							 请上传微信公众号的文章到朋友圈的截图作为凭证
					  </p>
						<a class="contact100-form-btn" id="Mediumscreenshot_a">
							选择文件
						</a>
						<input  accept="image/png, image/jpeg, image/gif, image/jpg" class="input100 fileinput" type="file" id="Mediumscreenshot">
						<p  id="Mediumscreenshot_url" class="imgurl"  style="color: black">

					  </p>
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>






					<div class="container-contact100-form-btn">
						<a id="submit" class="contact100-form-btn">
							提交
						</a>
					</div>
					<div style="text-align:center">
						<div class="Explain">长按压图片关注lambda 微信公众号 </div>
						<img src="<%= require('../../../img/weixin.jpg') %>" alt="">
					</div>
					


		</div>
	</section>

<div class="star-field">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>
</div>
