<div id="body">
	<div class="bg"></div>
	<section class="banner-contents">
		<div class="container" style="text-align: center">
			<div>
				<h1 style="    margin-bottom: 30px">Lambda Bounty Program</h1>
				<p style="opacity:0.8;font-size:16px;text-align: left,margin-bottom: 30px">
					Thank you for participating in Lambda’s AIRDROP and making it a grand success. We have completed the AIRDROP and now we move onto Bounty Campaign, so we are excited to invite everyone in our community to join that as well and make it an even bigger success.

				</p>
				<h2 style="    margin-bottom: 30px" >6 DAYS TO GOT MAXIMUM 200 LAMB in a week</h2>


				      					<ul>
				      						<li>Refer link to your friends to get MORE LAMB .</li>
				      						<li>Note: You must be part of our telegram group.</li>
													<p id="ethbtn" >
														<input id="ethaddress"  class="input100" type="text" name="ethaddress" placeholder="Your ETH wallet address">
														<a id="ethaddressbtn" class="btncom" >Get Refer link </a>
													</p>
													<div id="link" >
													Refer link  <a target="_blank" id="linkhref" href="https://mp.weixin.qq.com/wxopen/devprofile" > https://mp.weixin.qq.com/wxopen/devprofile</a>
													<p><a id="ethaddressfrom" class="btncom" >Submit a Vulnerability </a></p>
													</div>




				      					</ul>


			</div>

		</div>
	</section>



	<section id="roadmap" class="use roadmap">
		<div class="container">
			<h1>Got 10 LAMB for</h1>

			<div class="row" style="position:relative">
      	<div class="col-md-offset-1 col-md-11 box-wrapper">
      		<div class="row">
      			<div class="col-sm-2 col-xxs-2">
      				<div class="nc-wrapper">
      					<span class="left-num color-show">1</span>
      					<div class="circle-icon ">
      						<div class="column-line "></div>
      						<i></i>
      					</div>
      				</div>
      			</div>
      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">

      					<h2 class="title">Follow Lambda’s twitter </h2>

      				</div>
      			</div>
      		</div>
      		<div class="row">
      			<div class="col-sm-2 col-xxs-2">
      				<div class="nc-wrapper">
      					<span class="left-num color-show">2</span>
      					<div class="circle-icon">
      						<i></i>
      					</div>
      				</div>
      			</div>
      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">

      					<h2 class="title">Retweet Lambda’s Telegram pinned message on Twitter </h2>

      				</div>
      			</div>
      		</div>
      		<div class="row">
      			<div class="col-sm-2 col-xxs-2">
      				<div class="nc-wrapper">
      					<span class="left-num color-show">3</span>
      					<div class="circle-icon ">
      						<i></i>
      					</div>
      				</div>
      			</div>
      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">

      					<h2 class="title">Follow Lambda’s Medium </h2>

      				</div>
      			</div>
      		</div>
					<div class="row">
						<div class="col-sm-2 col-xxs-2">

						</div>

      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">


      				</div>
      			</div>
      		</div>

      	</div>
      </div>
		</div>
	</section>

<div class="star-field">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>
</div>
