<div id="body">
	<div class="bg"></div>
	<section class="banner-contents">
		<div class="container" style="text-align: center">
			<div>
				<h1 style="    margin-bottom: 30px">Lambda Bounty Program</h1>
				<p style="opacity:0.8;font-size:16px;text-align: left,margin-bottom: 30px">
					Welcome to Lambda's Bounty Program !! Follow the simple instructions given below and get rewarded in LAMB

				</p>
				<h2 style="    margin-bottom: 30px" >You can earn up to 50 Lamb tokens during this campaign</h2>


				      					<ul>
				      						<li>Get Another 5 Lamb by refering your friends to participate our bounty program.</li>
				      						<li>This campaign will last from July 2nd to July.16th </li>

													<p id="ethbtn" >
														<input id="ethaddress"  class="input100" type="text" name="ethaddress" placeholder="Your ETH wallet address">
														<a id="ethaddressbtn" class="btncom" >Button to click Here to go</a>
													</p>
													<div id="link" >
													Refer link  <a target="_blank" id="linkhref" href="https://mp.weixin.qq.com/wxopen/devprofile" > https://mp.weixin.qq.com/wxopen/devprofile</a>
													<p><a id="ethaddressfrom" class="btncom" >Submit a Vulnerability </a></p>
													</div>




				      					</ul>


			</div>

		</div>
	</section>



	<section id="roadmap" class="use roadmap">
		<div class="container">
			<h1>Got 10 LAMB for</h1>

			<div class="row" style="position:relative">
      	<div class="col-md-offset-1 col-md-11 box-wrapper">
      		<div class="row">
      			<div class="col-sm-2 col-xxs-2">
      				<div class="nc-wrapper">
      					<span class="left-num color-show">1</span>
      					<div class="circle-icon ">
      						<div class="column-line "></div>
      						<i></i>
      					</div>
      				</div>
      			</div>
      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">

      					<h2 class="title"> Joining Lambda Telegram Group </h2>

      				</div>
      			</div>
      		</div>
      		<div class="row">
      			<div class="col-sm-2 col-xxs-2">
      				<div class="nc-wrapper">
      					<span class="left-num color-show">2</span>
      					<div class="circle-icon">
      						<i></i>
      					</div>
      				</div>
      			</div>
      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">

      					<h2 class="title">Following Lambda’s twitter account</h2>

      				</div>
      			</div>
      		</div>
      		<div class="row">
      			<div class="col-sm-2 col-xxs-2">
      				<div class="nc-wrapper">
      					<span class="left-num color-show">3</span>
      					<div class="circle-icon ">
      						<i></i>
      					</div>
      				</div>
      			</div>
      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">

      					<h2 class="title">Retweeting Lambda’s pinned message on Twitter </h2>

      				</div>
      			</div>
      		</div>
					<div class="row">
						<div class="col-sm-2 col-xxs-2">
							<div class="nc-wrapper">
      					<span class="left-num color-show">4</span>
      					<div class="circle-icon ">
      						<i></i>
      					</div>
      				</div>
						</div>

      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">
								 <h2 class="title">Following Lambda’s Medium</h2>

      				</div>
      			</div>
      		</div>

      	</div>
      </div>
		</div>
	</section>

<div class="star-field">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>
</div>
