<div id="body">
	<div class="bg"></div>
	<section class="banner-contents" style=" margin-bottom: 0px;padding-bottom:0px">
		<div class="container" style="text-align: center">
			<div>
				<h1 style="    margin-bottom: 30px"> Welcome to Lambda Bounty Program！！</h1>
				<p style="opacity:0.8;font-size:16px;text-align: left,margin-bottom: 30px">
					Follow the simple instructions given below and get rewarded in LAMB

				</p>
				<!-- <h2 style="    margin-bottom: 30px" >You can earn up to 50 Lamb tokens during this campaign</h2> -->






			</div>

		</div>
	</section>



	<section id="roadmap" class="use roadmap" style="padding:0 0 ">
		<div class="container">
			<div class="row" style="position:relative">
      	<div class="col-md-offset-1 col-md-11 box-wrapper">
					<div class="row">
      			<div class="col-sm-2 col-xxs-2">
      				<div class="nc-wrapper">

      				</div>
      			</div>
      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">

      					<h2 class="title">Get 10 LAMB by </h2>

      				</div>
      			</div>
      		</div>
      		<div class="row">
      			<div class="col-sm-2 col-xxs-2">
      				<div class="nc-wrapper">

      				</div>
      			</div>
      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">

      					<h2 class="title"> 1,Joining Lambda Telegram Group </h2>

      				</div>
      			</div>
      		</div>
      		<div class="row">
      			<div class="col-sm-2 col-xxs-2">

      			</div>
      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">

      					<h2 class="title">2,Following Lambda’s twitter account</h2>

      				</div>
      			</div>
      		</div>
      		<div class="row">
      			<div class="col-sm-2 col-xxs-2">

      			</div>
      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">

      					<h2 class="title">3,Retweeting Lambda’s pinned message on Twitter </h2>

      				</div>
      			</div>
      		</div>
					<div class="row">
						<div class="col-sm-2 col-xxs-2">

						</div>

      			<div class="p-l-0 col-sm-10 col-xxs-10">
      				<div class="year-list">
								 <h2 class="title">4,Following Lambda’s Medium</h2>

      				</div>
      			</div>
      		</div>

      	</div>
      </div>
			<ul style="text-align: center">
				<li>Get Another 5 Lamb by referring your friends to participate our bounty program
Campaign Rules.</li>
				<li>This campaign will last from  July. 3rd to July.17th  </li>
				<li>You can earn up to 50 Lamb tokens during this campaign </li>


				</div>




			</ul>
			<p id="ethbtn" style="    text-align: center">
				<input id="ethaddress"  class="input100" type="text" name="ethaddress" placeholder="Enter Your ETH wallet address">
				<a id="ethaddressbtn" class="btncom" >Here to go</a>
			</p>
			<div id="link" style="    text-align: center">
		You	Refer link  <a target="_blank" id="linkhref" href="" style="font-size: 20px;color: #2acde5;    word-wrap: break-word" > </a>
			<p><a id="ethaddressfrom" class="btncom" >Submit </a></p>
		</div>
	</section>

<div class="star-field">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>
</div>
