<div id="body">
	<div class="bg"></div>
	<section class="banner-contents" style=" margin-bottom: 0px;padding-bottom:0px">
		<div class="container" style="text-align: center">
			<div>
				<h1 style="    margin-bottom: 30px"> Let's Rebuild EOS World Together!</h1>
				<p style="opacity:0.8;font-size:16px;text-align: left,margin-bottom: 30px">
					Working with the EOS community to reconstruct the Internet of “freedom, equality, and respect”


				</p>
				<!-- <h2 style="    margin-bottom: 30px" >You can earn up to 50 Lamb tokens during this campaign</h2> -->


				      					<ul>


													<p id="ethbtn" >

														<a id="ethaddressbtn" class="btncom" >MAKE EOS GREAT</a>
													</p>





				      					</ul>



			</div>

		</div>
	</section>
	<section  id="design" class="use design">
		<div class="container">
			<h1>What is</h1>
			<span> Lambda Bridge Pool </span>
			<div >
				<h1>Provide unlimited storage capabilities </h1>
				<h2>the Bridge Pool that is hatched by the Lambda foundation  </h2>
				<p style="opacity:0.8;font-size:14px">Lambda is a high-speed, secure and scalable blockchain infrastructure project. Through the logical decoupling and separate implementation of Lambda Chain and Lambda DB, we provide infinitely scalable data storage capabilities to decentralized applications and achieve Multi-chain data cooperative storage, cross-chain data management, data privacy protection, data ownership proof, distributed intelligent computing and other services. Additionally, as the underlying service of blockchain, Lambda Chain provides millions of requests per second (RPS) through Sharding technology, which can grow as the scale of the system expands; and it also offers technology service capabilities for future unlimited expansion through sub-chain technology.</p>

			</div>

		</div>
	</section>
	<section id="design" class="use design">
		<div class="container">
			<h1>What do we do for</h1>
			<span>EOS community</span>
			<div class="row">
				<div class="jgsj col-md-4 col-sm-4 ">
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda Chain</p>
						<p class="intro">An isomorphic multi-chain system Lambda Chain, providing high TPS access capabilities, Turing-complete smart contracts, cross-chain trading capabilities, etc.</p>
					</div>
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda P2P</p>
						<p class="intro">A p2p network system Lambda p2p, providing network layer addressability</p>
					</div>
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda DB</p>
						<p class="intro">A multi-database cluster system Lambda DB, providing unlimited encrypted secure data storage</p>
					</div>
				</div>
				<div class="jgsj col-md-4 col-sm-4 ">
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda DB Infrastructure</p>
						<p class="intro">A Lambda DB underlying infrastructure supporting system, including a block storage system and a distributed file system Lambda FS</p>
					</div>
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda ABE</p>
						<p class="intro">An attribute-based encryption authentication access system composed of multi-node consensus Lambda ABE, the access control gateways to databases</p>
					</div>
				</div>
				<div class="jgsj col-md-4 col-sm-4 ">
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Lambda TPA</p>
						<p class="intro">A data integrity verification group consisting of multiple verifier nodes Lambda TPA Chain</p>
					</div>
					<div class="intro-wrapper">
						<div class="jg-circle"></div>
						<p class="title">Providing services for  EOS DAPP </p>
						<p class="intro">Provide unlimited storage capabilities for  EOS DAPP</p>
					</div>
				</div>
			</div>
		</div>
	</section>


<div class="star-field">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>
</div>
