<header>
	<div class="nav">
			<div class="container">
				<div class="logo">
					<a href="/index.html">
						<img src="<%= require('../../img/logowhite.svg') %>" alt="">
					</a>
				</div>
				<div class="navbar nav-right">
					<% if(pageId === 'index') {%>
					<div class="nav-item mao">
						<a href="javascript:;" >
							使用场景
						</a>
					</div>
	        <div class="nav-item mao" >
	          <a href="javascript:;">
	            工作原理
	          </a>
	        </div>
					<div class="nav-item mao" >
						<a href="javascript:;">
							生态系统
						</a>
					</div>
					<div class="nav-item mao" >
						<a href="javascript:;" >
							路线图
						</a>
					</div>
					<% } else if(pageId === 'indexEn'){ %>
						<div class="nav-item mao">
							<a href="javascript:;" >
								APPLICATION SCENARIOS
							</a>
						</div>
						<div class="nav-item mao" >
							<a href="javascript:;">
								WORKING PRINCIPLE
							</a>
						</div>
						<div class="nav-item mao" >
							<a href="javascript:;">
								ECOSYSTEM
							</a>
						</div>
						<div class="nav-item mao" >
							<a href="javascript:;" >
								ROADMAP
							</a>
						</div>
						<div class="nav-item mao" >
							<a href="https://token.lambda.im/#/register" >
								REGISTER/SIGN UP
							</a>
						</div>
					<% } %>
					<div class="nav-item" style="float:right">

					</div>
				</div>
				<div class="navbar-toggle-btn">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
				<div class="mobile-navbar">
					<div class="nav-item active" id="products" style="border-top: 1px solid rgba(255,255,255,.2)">
						<ul>
							<% if(pageId === 'index') {%>
							<li class="mao"><a href="javascript:;">使用场景</a></li>
							<li class="mao"><a href="javascript:;">工作原理</a></li>
							<li class="mao"><a href="javascript:;">生态系统</a></li>
							<li class="mao"><a href="javascript:;">路线图</a></li>
							<% } else if(pageId === 'indexEn'){ %>
								<li class="mao"><a href="javascript:;">APPLICATION SCENARIOS</a></li>
								<li class="mao"><a href="javascript:;">WORKING PRINCIPLE</a></li>
								<li class="mao"><a href="javascript:;">ECOSYSTEM</a></li>
								<li class="mao"><a href="javascript:;">ROADMAP</a></li>
								<li class="mao"><a href="https://token.lambda.im/#/register">REGISTER/SIGN UP</a></li
							<% } %>
						</ul>
					</div>


					<div class="nav-item" id="language">
						<ul>

						</ul>
					</div>
				</div>
			</div>
		</div>
</header>
