<div id="body">
	<div class="bg"></div>
	<section class="banner-contents" style=" margin-bottom: 0px;padding-bottom:0px">
		<div class="container" style="text-align: center">
			<div>
				<h1 style="    margin-bottom: 30px"> Lambda 糖果大作战   </h1>
				<p style="opacity:0.8;font-size:16px;text-align: left,margin-bottom: 0px">
					只要根据以下简单的指示就能获得LAMB币哟。

				</p>
				<!-- <h2 style="    margin-bottom: 30px" >You can earn up to 50 Lamb tokens during this campaign</h2> -->






			</div>

		</div>
	</section>



	<section id="roadmap" class="use roadmap" style="padding:0 0 ">
		<div class="container">
			<div class="row">
			  <div class="col-sm-1 col-md-3"></div>
			  <div class="col-sm-10 col-md-6">
					<div>
						<div >

							<div class="">
								<div class="year-list">

									<h2 class="title">拿10个LAMB </h2>

								</div>
							</div>
						</div>
						<div >

							<div class="">
								<div class="year-list">

									<h2 class="title">1.关注 Lambda微信官方公众号</h2>

								</div>
							</div>
						</div>
						<div >

							<div class="">
								<div class="year-list">

									<h2 class="title">2.关注 Lambda微博官方账号 </h2>

								</div>
							</div>
						</div>
						<div >

							<div class="">
								<div class="year-list">

									<h2 class="title">3.转发 Lambda 置顶的微博 </h2>

								</div>
							</div>
						</div>
						<div >


							<div class="">
								<div class="year-list">
									 <h2 class="title">4.转发 Lambda微信官方公众号一篇文章到朋友圈  </h2>

								</div>
								<ul style="">

									<li>邀请好友参与活动可获得5个LAMB币.</li>
									<li style="">&nbsp;</li>
					<li style="">
					活动规则:</li>
									<li>-活动时间从7月10日到7月17日 </li>
									<li>-最多每人可获得50LAMB币</li>



									</div>




								</ul>
							</div>

						</div>

				</div>
			  <div class="col-sm-1 col-md-3"></div>
			</div>

			<p id="ethbtn" style="    text-align: center">
				<input id="ethaddress"  class="input100" type="text" name="ethaddress" placeholder="请输入你的ETH地址">
				<a id="ethaddressbtn" class="btncom" >提交</a>
			</p>
			<div id="link" style="    text-align: center">
		You	Refer link  <a target="_blank" id="linkhref" href="" style="font-size: 20px;color: #2acde5;    word-wrap: break-word" > </a>
			<p><a id="ethaddressfrom" class="btncom" >Submit </a></p>
		</div>
	</section>

<div class="star-field">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>
</div>
