<div id="body">
	<div class="bg"></div>
	<section class="banner-contents" style=" margin-bottom: 0px;padding-bottom:0px">
		<div class="container" style="text-align: center">
			<div>
				<h1 style="    margin-bottom: 30px">Submit to verify your qualification </h1>

				<!-- <p style="opacity:0.8;font-size:16px;text-align: left,margin-bottom: 30px">
					<p> Being dishonest on this form will result in immediate disqualification.    </p>
					<p> If you have issues submitting your application, please contact us at    </p>

				</p> -->



			</div>

		</div>
	</section>



	<section id="roadmap" class="use roadmap">
		<div class="container" >
			<div class="wrap-contact100" id="fromresult" style="color: black" >
			<div>Thanks for participate our bounty program.
					Get Another 5 Lamb by referring your friends.
					Your referral link:</div>
			You	Refer link  <a target="_blank" id="linkhref" href="" style="font-size: 20px;color: #2acde5;word-wrap: break-word" > </a>
			</div>
			<div class="wrap-contact100" id="fromdiv">
				<form id="form" class="contact100-form validate-form">


					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<input class="input100" type="text" id="ethaddress_input" name="ethaddress" placeholder="Your ETH wallet address">
						<p  class="Explain"  style="color: black">
							Your ETH wallet address ( listed as user’s unique ID for our verification, link was entered by participant from the first page)
					  </p>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<input class="input100" type="text" name="telegram" placeholder="Your telegram user name ">
						<p  class="Explain" >
							<a target="_blank" href="https://t.me/HelloLambda">Joining Lambda Telegram Group</a>
					  </p>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<input class="input100" type="text" name="twitter" placeholder="Your Twitter user name ">
						<p  class="Explain" >
						 <a target="_blank" href="https://twitter.com/Lambdaim">	Following Lambda’ twitter account</a> 
					  </p>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<a class="contact100-form-btn" id="twitterscreenshot_a">
							select file
						</a>
						<p style="color: black">
						<input  accept="image/png, image/jpeg, image/gif, image/jpg" class="input100 fileinput" type="file" id="twitterscreenshot" name="Twitterscreenshot">
						<p id="twitterscreenshot_url" class="imgurl" style="color: black">Please upload the screenshot to prove you followed our Twitter</p>
					  </p>

					</div>

					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<input class="input100" type="text" name="medium" placeholder="Medium user’s name  ">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<a class="contact100-form-btn" id="Mediumscreenshot_a">
							select file
						</a>
						<input  accept="image/png, image/jpeg, image/gif, image/jpg" class="input100 fileinput" type="file" id="Mediumscreenshot">
						<p  class="Explain" >
							 <a target="_blank" href="https://medium.com/@Lambdaim">Following Lambda’s Medium</a> 
					  </p>
						<p  id="Mediumscreenshot_url" class="imgurl"  style="color: black">
						Please upload the screenshot to prove you followed our Medium
					  </p>
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>






					<div class="container-contact100-form-btn">
						<a id="submit" class="contact100-form-btn">
							submit
						</a>
					</div>


		</div>
	</section>

<div class="star-field">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>
</div>
