<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<title><%= pf.pageTitle %></title>
	<meta name="description" content="<%= pf.description %>"/>
	<meta name="keywords" content="<%= pf.keywords %>">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5">
  <meta http-equiv="refresh" content="0; URL=https://www.lambda.im/">
</head>
<body>

</body>
